#app {
  background-image: url("../Assets/SVG/gradient-bg.svg");
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
}

.containers {
  background-color: rgb(255, 255, 255);
  padding: 20px 40px;
  color: #fff;
  font-weight: 600;
  border: solid 1px;
  border-radius: 3%;
  box-shadow: 7px -8px 11px -5px rgba(#195190FF);
}

.Tab {
  display: flex;
  justify-content: space-between;
}

.signUp,
.signIn {
  background-color: #A2A2A1FF;
  width: 50%;
  font-size: 22px;
  color: #201f1f;
  padding: 10px;
  text-align: center;
}

.signIn:hover,
.signUp:hover {
  text-decoration: none;
  color: #fff;
}

.activeLink {
  color: #fff;
  background-color: #195190FF;
}

.border-radiusImportant {
  border-radius: 5px !important;
}

.error-message {
  color: red;
  font-size: 13px;
}

.text-blue {
  color: blue;
  text-align: center;
  font-weight: 'bold';
}

/* .sendEmail-card{
      padding-top:100px;
    } */
.left-img {
  background-image: url("./images/started.png");
  /* background-size: cover; */

  width: 192px;
  height: 232px;
}

@media screen and (max-width:923px) {

  .left-img {
    display: none;
  }
}

@media screen and (min-width:500px) {
  .signup-page {
    width: 444px;
    padding: 0px !important;
    margin: auto;
  }
}

.signup-form {
  padding: 0px !important;
}

.signup-form-title {
  padding: 15px 0px !important;
}

.signin-page,
.forgotpassword-page,
.resetpassword-page {

  width: 620px;
  margin: auto;

}

.sendEmail-page {

  min-width: 444px;
  margin: auto;

}

.firstInfo-page,
.secondInfo-page,
.social-page {
  width: 693px;
  margin: auto;
}

.trial-page {

  margin: auto !important;
}

.start-page {
  max-width: 879px;
  margin: auto;

}

.start-content {
  padding: 0 51px !important;
  padding-bottom: 40px !important;
}

.linkback,
a {
  text-decoration: none;
}

.title {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.largesize {
  font-Size: 32px !important;
  font-Weight: bold !important;
}

.bigsize {
  font-Size: 32px !important;
  font-Weight: 600 !important;
}

.smallsize {
  font-Size: 15px !important;
  font-Weight: bold !important;
}

.tinysize {
  font-Size: 14px !important;
  font-Weight: 500 !important;
  color: black !important;
}

.title-inter {
  font-Family: 'inter' !important;
}

.smalltitle .MuiCardHeader-title {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  font-Size: 18px !important;
  font-Weight: bold !important;

}

.card {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.transparent {
  background-color: #FFFFFF00 !important;
}

.transparent-mid {
  background-color: #FFFFFFee !important;
}

.MuiButton-root,
.mainButton {
  border-radius: 12px !important;
  margin-bottom: 10px
}

.background-blue {
  background-color: #2970FF !important;

}

.trial-button {
  width: 315px !important;
  height: 56px !important;
  font-size: 16px !important;
  font-weight: bold;
  background-color: white;
  border: 1px solid lightblue;
  color: #6366F1;
  /* position: absolute;
  bottom: 20px; */

}

.trial-button:hover {
  color: black;
  background-color: lightblue;
}

.custom-content {
  margin: bottom 0px !important;
  padding-bottom: 0px !important;
}

.flex-card {
  display: flex;
  position: relative;
  /* min-height: 630px; */
}

.mainCard {
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.03), 0 10px 10px 0 rgba(0, 0, 0, 0.03) !important;
  border: 0px;
  margin: 0 auto;
  /* width: -webkit-fill-available; */

}

.trial-panel {
  min-height: 352px;
}

.later-btn {
  border: 1px solid blue;
}

.later-btn:hover {
  background-color: lightblue;
}

.success-img {
  background-image: url("./images/successful.png");
  width: 238px;
  height: 238px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.button-font {
  font-family: 'inter' !important;
  font-size: 15px !important;
}

@media screen and (min-width:520px) {
  .resend-button {
    width: 396px !important;
    margin: 0 auto;
  }
}

@media screen and (min-width:800px) {

  .firstinfo-card {
    width: 693px !important;
    margin: 0 auto
  }

  .trial-page {
    width: 750px;
    margin: auto;
  }
}

@media screen and (min-width:536px) {

  .firstinfo-button {
    width: 229px !important;
    height: 48px !important;
  }
}

.firstinfo-button {
  margin: 0px !important;
}

.cancel-button {
  background-color: white;
  border-color: white;
  color: black;
  width: 86px !important;
  font-size: 16px !important;
  font-family: inter !important;
  margin: 0px !important;
}