#app {
  background-image: url("../Assets/SVG/gradient-bg.svg");
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
}


input[type="password"] {


  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: square;

}

.containers {
  background-color: rgb(255, 255, 255);
  padding: 20px 40px;
  color: #fff;
  font-weight: 600;
  border: solid 1px;
  border-radius: 3%;
  box-shadow: 7px -8px 11px -5px rgba(#195190FF);
}

.Tab {
  display: flex;
  justify-content: space-between;
}

.signUp,
.signIn {
  background-color: #A2A2A1FF;
  width: 50%;
  font-size: 22px;
  color: #201f1f;
  padding: 10px;
  text-align: center;
}

.signIn:hover,
.signUp:hover {
  text-decoration: none;
  color: #fff;
}

.activeLink {
  color: #fff;
  background-color: #195190FF;
}

.border-radiusImportant {
  border-radius: 5px !important;
}

.error-message {
  color: red;
  font-size: 13px;
}

.text-blue {
  color: blue;
  text-align: center;
  font-weight: 'bold';
}

/* .sendEmail-card{
      padding-top:100px;
    } */
.left-img {
  background-image: url("./images/started.png");
  /* background-size: cover; */

  width: 192px;
  height: 232px;
}

@media screen and (max-width:923px) {

  .left-img {
    display: none;
  }
}

@media screen and (min-width:500px) {
  .signup-page {
    width: 444px;
    padding: 0px !important;
    margin: auto;
  }
}

.signup-form {
  padding: 0px !important;
}

.signup-form-title {
  padding: 15px 0px !important;
}

.signin-page,
.forgotpassword-page,
.resetpassword-page {

  width: 620px;
  margin: auto;

}

.sendEmail-page {

  min-width: 444px;
  margin: auto;

}

.firstInfo-page,
.secondInfo-page,
.social-page {
  width: 693px;
  margin: auto;
}

.trial-page {

  margin: auto !important;
}

.start-page {
  max-width: 879px;
  margin: auto;

}

.start-content {
  padding: 0 51px !important;
  padding-bottom: 40px !important;
}

.linkback,
a {
  text-decoration: none;
}

.title {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.MuiInputLabel-root {
  font-size: 11px !important;
}

.largesize {
  font-Size: 32px !important;
  font-Weight: bold !important;
}

.bigsize {
  font-Size: 32px !important;
  font-Weight: 600 !important;
}

.smallsize {
  font-Size: 15px !important;
  font-Weight: bold !important;
}

.tinysize {
  font-Size: 14px !important;
  font-Weight: 500 !important;
  color: black !important;
}

.title-inter {
  font-Family: 'inter' !important;
}

.smalltitle .MuiCardHeader-title {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  font-Size: 18px !important;
  font-Weight: bold !important;

}

.skip-btn:hover {
  background-color: none;
}

.card {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.transparent {
  background-color: #FFFFFF00 !important;
}

.transparent-mid {
  background-color: #FFFFFFee !important;
}

.MuiButton-root,
.mainButton {
  border-radius: 12px !important;
  height: 42px !important;
  margin-bottom: 10px
}

.background-blue {
  background-color: #2970FF !important;

}

.multiselect-ok {
  background-color: blue;
  float: right;
  width: 100px;
}

.trial-button {
  width: 315px !important;
  height: 56px !important;
  font-size: 16px !important;
  font-weight: bold;
  background-color: white;
  border: 1px solid lightblue;
  color: #6366F1;
  /* position: absolute;
  bottom: 20px; */

}

.trial-button:hover {
  color: black;
  background-color: lightblue;
}

.custom-content {
  margin: bottom 0px !important;
  padding-bottom: 0px !important;
}

.flex-card {
  display: flex;
  position: relative;
  /* min-height: 630px; */
}

.mainCard {
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.03), 0 10px 10px 0 rgba(0, 0, 0, 0.03) !important;
  border: 0px;
  margin: 0 auto;
  /* width: -webkit-fill-available; */

}

.trial-panel {
  min-height: 352px;
}

.later-btn {
  border: 1px solid blue;
  height: 48px !important;

}

.later-btn:hover {
  background-color: lightblue;
}

.success-img {
  background-image: url("./images/successful.png");
  width: 238px;
  height: 238px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.button-font {
  font-family: 'inter' !important;
  font-size: 15px !important;
}

@media screen and (min-width:520px) {
  .resend-button {
    width: 396px !important;
    margin: 0 auto;
  }
}

@media screen and (min-width:800px) {

  .firstinfo-card {
    width: 693px !important;
    margin: 0 auto
  }

  .trial-page {
    width: 750px;
    margin: auto;
  }
}

@media screen and (min-width:536px) {

  .firstinfo-button {
    width: 229px !important;
    height: 48px !important;
  }
}

.firstinfo-button {
  margin: 0px !important;
}

.MuiAutocomplete-popper {
  display: block !important;
}

.MuiAutocomplete-root {
  padding: 2px !important;
}

.cancel-button {
  background-color: white;
  border-color: white;
  color: black;
  width: 86px !important;
  font-size: 16px !important;
  font-family: inter !important;
  margin: 0px !important;
  height: 48px !important;
}

@media screen and (max-width:548px) {

  .mainButton {
    width: 100% !important;
  }
}

/* .geoapify-autocomplete-items {
  display: contents !important;
} */

.pointer {
  cursor: pointer !important;
}

.check-custom {
  height: 29px !important;
}

.geoapify-autocomplete-input {
  width: auto !important;
  height: 59.13px;
  border: 3px solid #FaFaFa;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
  padding-top: 18px;
}

.geoapify-autocomplete-input:focus {
  border-color: blue;
  border-width: 5px;
}

.geoapify-autocomplete-input:required:invalid {
  border-color: red;
  border-width: 5px;

}

.location-bar {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.location-placeholder-general {
  font-family: Inter;
  font-size: 11px;
  position: absolute;
  top: 35px;
  left: 20px;
}

.location-placeholder-error {
  color: red;
}

.location-placeholder-top {
  font-family: Inter;
  font-size: 9px;
  position: absolute;
  top: 25px;
  left: 20px;
}

.location-error {
  font-family: Inter;
  font-size: 0.75rem;
  color: red;
  font-weight: 500;
  position: absolute;
  top: 80px;
  left: 20px;
}

.geocoder-container {
  margin-top: 11px !important;
  isplay: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: inherit !important;
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: top;
  width: 100%;

}

.hidden-input {
  visibility: hidden;
}

.show-input {
  visibility: inherit;
}

/* .geoapify-close-button {
  position: absolute;
  top: -34px;
  align-items: baseline !important;
  top: -50px !important;
} */