.custom-multiselect {
    border-color: #2D3748 !important;
    background: bottom;
}

.custom-items {
    background: #0E1320;
}

.custom-secondary {
    color: black;
}

.custom-close {
    color: white !important;

}