.MuiTypography-h3 {
  font-size: 18px !important;
}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
  box-shadow: none !important;
}

/* .ql-toolbar {
  display: none;
} */

.ql-snow .ql-editor pre {
  background-color: var(--bg-primary) !important;
  color: var(--bg-primary) !important;
}
/* .wrapper-class {
  padding: 20px;
  flex-grow: 1;
}
.editor-class {
  border: 1px solid #f1f1f1;
  height: auto;
} */
.wrapper-class {
  resize: vertical;
  margin: 20px;
  overflow: hidden;
  height: inherit;
  border: 0.5px solid #f2f4f7;
  border-radius: 5px;
}
/* #suggestion {
  position: absolute;
  left: 0;
  background-color: white;
  border: 1px solid blue;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 350px;
  padding: 5px;
} */
.editor-class {
  overflow: auto;
  height: 95%;
  width: 100%;
}
.rdw-link-modal {
  height: fit-content;
}
.rdw-editor-toolbar {
  border: none;
}
.rdw-option-wrapper {
  border: none;
}
.rdw-option-wrapper {
  background: none;
}
input::-webkit-calendar-picker-indicator {
  display: none !important;
}
.reply-wrapper .toolbar-class {
  bottom: -58px !important;
}
.rdw-option-wrapper img {
  width: 23px;
}
.rdw-link-modal-btn {
  color: black;
}
.toolbar-class {
  position: absolute;
  bottom: 30px;
  background: none;
  /* display: none; */
}
.rdw-option-wrapper:hover {
  border: none;
}
.rdw-image-modal-header-option,
.rdw-image-modal-size,
.rdw-link-modal-label {
  color: black;
}
.rdw-link-modal-input {
  background-color: white;
  color: black;
}
.rdw-image-modal-btn {
  color: black;
}
.rdw-link-modal-target-option span {
  color: black;
}
.rdw-image-modal-size-input {
  background-color: white;
  color: black;
}
.reply-class {
  padding: 5px;
}
.reply-wrapper {
  position: relative;
  height: 200px;
  overflow: visible;
  margin-bottom: 0px;
}
.rdw-image-modal,
.rdw-emoji-modal,
.rdw-link-modal {
  bottom: 35px;
  top: unset;
}
.inline-item div {
  display: -webkit-inline-box;
  padding: 0;
  margin: 0;
}
.inline-item br {
  display: none;
}
.inline-item img {
  display: none;
}

.inline-item p {
  display: -webkit-inline-box;
  padding: 0;
  margin: 0;
}
.inline-item span {
  display: -webkit-inline-box;
  padding: 0;
  margin: 0;
}
.inline-item blockquote {
  display: -webkit-inline-box;
  padding: 0;
  margin: 0;
}
.inline-item a {
  display: -webkit-inline-box;
  padding: 0;
  margin: 0;
}
