
.about-list-font {
    font-size: 16px !important;
}
.custom-item{
    padding:5px 10px;
    width: 200px;
}
.MuiTablePagination-actions{
    margin:0 auto
}
.MuiTablePagination-selectLabel{
    margin:0 auto;
    
}
.MuiTablePagination-displayedRows{
    margin:0 auto;
}