.profile-niche {
    background-color: #2970FF1F;
    font-size: 18px !important;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    text-align: center;

}

.second-head {
    padding-left: 0;
}

.head-font .MuiCardHeader-title {
    font-size: 18px !important;
}

.about-content {
    font-size: 18px !important;
}

.about-list-font {
    font-size: 16px !important;
}

.social-list-font {
    font-size: 16px !important;
    /* color: black; */
}

.social-icons {
    min-width: 40px !important;
}

.bullet-img {
    width: 11px;
    height: 11px;
    background-image: url('./images/bullet.png');
    background-repeat: no-repeat;
    margin-top: 5px;
}

.custom-sub-panel {
    padding-left: 5px;
    /* min-width: 115px; */
}

.facebook-icon {
    width: 22px;
    height: 22px;
    background-image: url('./images/facebook.png');
    background-size: cover;
}

.homepage-icon {
    width: 24px !important;
    height: 21px;
    background-image: url('./images/homepage.png');
    background-size: cover;
    margin-right: 15px;
    display: inline-block;
}

.verified-icon {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url('./images/verifiedIcon.png');
}

.tiktok-icon {
    width: 22px;
    height: 22px;
    background-image: url('./images/tiktok.png');
    background-size: cover;
}

.pinterest-icon {
    width: 22px;
    height: 22px;
    background-image: url('./images/pinterest.png');
    background-size: cover;
}

.youtube-icon {
    width: 22px;
    height: 22px;
    background-image: url('./images/youtube.png');
    background-size: cover;
}

.twitter-icon {
    width: 22px;
    height: 22px;
    background-image: url('./images/twitter.png');
    background-size: cover;
}

.instagram-icon {
    width: 22px;
    height: 22px;
    background-image: url('./images/instagram.jpg');
    background-size: cover;
}

.home-icon {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url('./images/homeIcon.png');
}

.mail-icon {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url('./images/mail.png');
}

.connect-icon {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url('./images/connection.png');
}

.phone-icon {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url('./images/phone.png');
}

.url-icon {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url('./images/urlicon.png');
}

.man-icon {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url('./images/man.png');
}

.global-icon {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url('./images/global.png');
}

.age-icon {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url('./images/age.png');
}

.male-icon {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url('./images/male.png');
}

.ethnicity-icon {
    width: 22px;
    height: 22px;
    background-image: url('./images/ethnicity.png');
    background-size: cover;

}

.stat-card {
    /* margin-top: 20px;
    margin-right: 50px; */
    margin: 10px;
    display: flex;
    align-items: center;
    /* height: 100%; */
}

.custom-grid {
    display: inline-grid;
}



/* @media screen and (min-width:1642px) {
    .custom-grid {
        max-width: 33.33% !important;
    }
}

@media screen and (min-width: 1258px) and (max-width: 1642px) {
    .custom-grid {
        max-width: 50% !important;
    }
}

@media screen and (min-width: 1240px) and (max-width: 1257px) {
    .custom-grid {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 972px) and (max-width: 1239px) {
    .custom-grid {
        max-width: 50% !important;
    }
}

@media screen and (max-width:972px) {
    .custom-grid {
        max-width: 100% !important;
    }
} */
@media screen and (min-width: 546px) and (max-width: 1000px) {
    .custom-grid {
        width: 50% !important;
    }

}

@media screen and (max-width:545px) {
    .custom-img {
        width: 84px !important
    }
}

@media screen and (max-width:462px) {
    .custom-img {
        width: 100% !important
    }
}

.normal-letter {
    color: #BA63FF;
}

.veryhigh-letter {
    color: #08DCA9;
}

.macro-letter {
    color: #008EAD
}

.high-letter {
    color: #008EAD
}

.low-letter {
    color: #FFB84C
}

.verylow-letter {
    color: #FF6853
}