.custom-avatar {
    position: absolute;
    top: -65px;
    left: 50px;
}

.custom-parent {
    position: relative
}

.font-inter {
    font-Family: 'inter' !important;
}

.font-plus {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.brand-info {
    margin-top: 47px !important;
}

.location-pointer {
    display: inline-block !important;
    background-image: url(./img/locationpointer.png);
    width: 9px;
    height: 12px;
    margin-right: 12px;
}

@media screen and (max-width:820px) {

    .button-bar {
        margin-top: 100px !important;
    }

}

.fav-btn {
    margin-bottom: 0px !important;
}

.fav-btn-alone {
    margin-bottom: 0px !important;
    padding: 0;
    background-color: none;
}

@media screen and (min-width:500px) {

    .social-btn {
        font-size: 18px !important;
        width: 215px !important;
        height: 54px !important;
    }

    .fav-btn {
        font-size: 18px !important;
        width: 162px !important;
        height: 54px !important;
    }

    .social-btn:hover {
        background-color: lightgreen;
        color: black;
    }
}

@media screen and (max-width:500px) {
    .tab-panel {
        margin-top: 150px !important;
    }
}

.tab-panel {
    margin-top: 90px;
}

.social-font {
    font-size: 18px !important;
}

.quick-link-bar {
    margin-top: 50px;

}

.quick-links {
    margin-top: 10px;
}

.quick-font {
    font-family: Inter !important;
    font-size: 18px;
    font-weight: 600;

}

.quick-link {
    width: 20px !important;
    height: 20px !important;
    margin-right: 15px;
    display: inline-block;
    background-size: cover;
}

.right-quick {
    float: right;
}