.MuiTabs-scroller {
  border-bottom: 1px solid #f2f4f7;
}

.custom-tab {
  display: block;
  /* min-width: 120px; */
  margin-right: 15px;
  text-align: left;
}
.top {
  position: relative;
}
.part {
  /* position: absolute;
    right: 0px;
    top:16px; */
  width: -webkit-fill-available;
  max-width: 370px;
  border: 1px solid #f2f4f7;
  border-radius: 10px;
  margin-bottom: 5px !important;
  height: 50px;
}
@media screen and (min-width: 600px) {
  /* .part{
        min-width: 370px;
    } */
}
